.page-template-blogroll, .category, .author{
	.subheader{
		display: none;
	}
}

.blog-feed {
		position: relative;
		width: 100%;
		white-space: nowrap;



		.news-post {
			display: inline-block;
			width: 220px;
			position: relative;
			margin: auto;
			white-space: normal;
			vertical-align: top;
			@media screen and (max-width: 720px){
				width: 79vw; 
				white-space: normal;
				vertical-align: top;
			}
			a {
				text-decoration: none;
				color: $textGray;
				font-weight: normal;
			}
			.post-date{
				border: none;
				margin: 0;
				padding: 0;
				color: #bbb;
				font-size: 12px;
				font-weight: normal;
			}
			.post-title {
				margin-bottom: 10px;
				height: 4.5em;
				a { color: black; text-decoration: none; }
			}
			.thumb{
				display: block;
				width: 100%;
				padding-bottom: 40%;
				margin-bottom: 20px;
				background-size: contain;
				background-repeat: no-repeat;
			}
			img { border: 2px solid #bbb; }
		}
}
ul.categories {
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	color: black;
	font-size: 12px;
	font-weight: normal;
	color: black;
	margin-top: 10px;
	li{
		margin-bottom: 0px;
		list-style: none;
	}

}

//Back
li.go-back-button{
	margin-top: 1em;

	a{ color: $red; }
}

//Single
.single {
	.post-thumbnail{
		width: 100%;
		height: auto;
	}
}

@media screen and ( max-width: 720px ){
	.page-template-blogroll, .category, .author, .single{
		.blog-feed{
			margin-bottom: 2em;
		}
		.scrollingHotSpotLeft, .scrollingHotSpotRight{
			display: none !important;
		}
		.scrollableArea{
			width: 72vw !important;
			white-space: normal;
		}
		.one-sixth{
			margin-top: 0px;
			border-bottom: 1px solid #eee;
			nav{
				max-height: 2.5em;
				padding: 10px 0;
				transition: .5s all linear;
				text-align: center;
				font-size: 16px;
				h2{
					font-size: 16px;
				}
				ul{
					opacity: 0;
					transition: .5s all linear;
					li{
						padding: 5px 0;
					}
				}
				&:hover{
					max-height: 1000px;
					ul {
						opacity:1;
						transition-delay: opacity .5s;

					}
				}
			}
		}

		.five-sixths{
			margin-top: 1em;
			.news-post{
				margin-bottom: 2em;
				border-bottom: 1px solid #bbb;
				padding-bottom: 10px;				
				.post-title{
					height: auto;
					font-size: 16px;
				}
			}
		}
	}
}