.page-template-team-template{

	.tile-browser{
		margin-bottom: 4em;
	}

	.secondary-content{
		.page-block {
		  display: inline-block;
		  width: 46%;
		  margin-right: 3%;
		  vertical-align: top;
		}
	}

	.member-detail{
		background: $lightGray;
		max-height: 0;
		overflow: hidden;

		.column{
			padding-top: 0;
		}
	}

	.tile-detail.open .member-detail{
		padding: 40px;
		max-height: 2000px;
	}
	.member-position{
		font-weight: normal;
	}

}
