<li class='slide video'>
	{# <video>{{ dump(slide) }}</video>  #}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ slide.custom.video_id }}" frameborder="0" allowfullscreen></iframe>
</li>