<div class="testimonial">
	<img class="thumbnail" src="{{ content[0].thumbnail.src }}"/>
	<div class="text">
		{{ content[0].content }}
		<h2>{{ content[0].post_title }}</h2>
		<span class="client-position">{{ content[0].client_position }}</span>
	</div>
</div>